/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 23, ../../compass/sass/styles.scss */
body {
  background-color: #ADD8E6;
}

/* line 26, ../../compass/sass/styles.scss */
img {
  max-width: 1000px;
  max-height: 800px;
}
